<div class="our-people-section">
  <div class="container">
    <div class="row">
      <div class="col-md-24">
        <h1 class="section-header">{{ page.header.title }}</h1>
      </div>
    </div>
    <div class="row our-people-section__people">
      <div class="col-md-20">
        <div class="our-people">
          <div id="peopleCarousel" class="our-people__worker carousel slide" data-ride="carousel" data-interval="100000">

            <div class="carousel-inner">
              {% set collection = page.evaluate([{'@page.children':'/our-people'}]) %}
              {% set ordered_collection = collection.order('default','asc') %}
              {% for member_p in ordered_collection %}
              <div class="our-people__worker__wrap item {% if loop.first %}active{% endif %}">
                <div class="our-people__worker__avatar col-md-8">
                  <img src="{{ member_p.media.images|first.cache.url() }}" alt="{{ member_p.title|e('html') }}" class="img-responsive">
                </div>
                <div class="our-people__worker__info col-md-16">
                  <div class="our-people__worker__info__name">{{ member_p.title }}</div>
                  <div class="our-people__worker__info__position">{{ member_p.header.position }}</div>
                  <div class="our-people__worker__info__description">{{ member_p.summary }}</div>
                </div>
              </div>
              {% endfor %}
            </div>

            <div class="our-people__worker__info__controls col-md-16 col-md-offset-8">
              <div class="our-people__worker__info__controls__left">
                <a class="btn btn-primary btn-sm icon-angle-left" href="#peopleCarousel" data-slide="prev"></a>
                <a class="btn btn-primary btn-sm icon-angle-right" href="#peopleCarousel" data-slide="next"></a>
              </div>
              <div class="our-people__worker__info__controls__right">
                <a href="{{ page.header.button_url }}" class="btn btn-primary btn-sm">{{ page.header.button_label }}</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
