{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="container ptb-95 services">
    <div class="container">
      <div class="row">
        <div class="col-md-24">
          {% include 'partials/breadcrumbs.html.twig' %}
          <h1 class="section-header">{{ page.header.title }}</h1>
          <div class="row">
          {% for service_p in page.collection() %}
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
              <div class="service">
                <span class="view-me">{{ page.header.view_button }}</span>
                <a class="service-url" href="{{ service_p.url }}">
                  <img src="{{ service_p.media.images[service_p.header.icon].cache.url() }}" alt="{{ service_p.title|e('html') }}">
                  <h5 class="service-name">{{ service_p.title }}</h5>
                </a>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
